{% extends "index.html" %}
   
    {% block newcategory %}
        <div class="container">
            <div class="col-md-12">
                <div class="category_header">
                    <h3>Add a New Category</h3>
                </div>
                <a href={{url_for('showCategories')}}>Cancel</a>
                <form action={{url_for('newCategory')}} method="POST">
                    {{ form.csrf_token }}
                    {{ form.name(size=20) }} {{ form.submit }}
                </form>
            </div>
        </div>
    {% endblock %}
