{% extends "index.html" %}
    <!-- set statement makes item object available to the parent template for
        setting the available menu items in the dropdown -->
    {% set item = item %}    
    {% block showitem %}
        <a href="{{url_for('showCategories')}}">Back</a>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ creator.picture }}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ category.name }}</h4>
                <div class="media">
                    <div class="media-left">
                        {% if item.image_url %}
                            <a href="#">
                                <img class="media-object-inner" src="{{ item.image_url
                                }}"></a>
                        {% endif %}
                    </div>
                </div>
                <h5>Description</h5>
                {{ item.description }}
            </div>
        </div>
    {% endblock %}

