body {
    font-family: 'Lato', sans-serif;
}

/* add right border to category list */
.category_list {
    border-right: 1px solid #000000;
}

.media-object {
    width: 32px;
    height: 32px;
}

.media-object-inner {
    width: 64px;
    height: 64px;
}
